<body id="home">

	<form method="post" action="/birthdate">
    	<h1>Please enter your birthdate (MMDDYYYY)<br><br> <input type="text" name="post[birthdate]" />
    	<input type="submit" name="Search" /></h1>
	</form>
</body>